*{
    margin: 0%;
    padding: 0%;
    border: 0%;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to right, #3F704D , #679267);
}

.corpo{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
   background: linear-gradient(to right, #3F704D , #679267) ;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:8%;
    width: 100%;
    height: 50%;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.inp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.labels{
    height: 6%;
    width: 30%;
    font-size: large;
    color: #F0FFF0;
    justify-content: start;
}

.input{
    border-radius: 5px;
    width: 30%;
    height: 10%;
    border: 0px;
    margin-bottom:10px;
    font-size: 15px;
    padding-left: 10px;
    background: #F0FFF0 ;
}

.input:focus{
    outline: 0px;
}

.msg{
    align-items: start;
    color: aliceblue;
    width: 30%;
    font-size: large;
    margin-bottom: 10px;
    font-family: serif;
}

.botao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    width: 30%;
    height: 10%;
    margin-top: 20px;
}

.submit{
    height: 100%;
    width: 100%; 
    border-radius: 6px;
    border: 4px solid #F0FFF0;
    background-color: transparent;
    color: #F0FFF0;
    font-size: large;
}

.submit:hover{
    height: 100%;
    width: 100%; 
    border-radius: 6px;
    border: 2px solid #F0FFF0;
    color: #F0FFF0;
}


.container1{
    width: 100%;
    height: 8%;
}

.navbar{
      background: linear-gradient(to right, #3F704D , #679267) ;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
}

.links{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.link{
    font-family: sans-serif;
    text-decoration: none;
    color:#F0FFF0;
    font-size: large;
}

.link:hover{
    color: #F0FFF0;
}

.login{
    color: #F0FFF0;
    font-size: 40px;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #3F704D;
    height: 100%;
}

.image{
    height: 85%;
}

.credflow{
    font-size: 40px;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #F0FFF0;
}




